body {
	width: 100vw;
	max-width: 100%;
	margin: 0px;
	scroll-behavior: smooth;
}

.banner-container {
	width: 100%;
	height: 100vh;
	background-color: #266590;
	background-image: url('https://github.com/macnube/founders-coders/blob/master/public/images/BannerWide.png?raw=true');
	text-align: center;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.banner-image {
	position: relative;
}

.nav-container {
	margin-top: 30px;
	display: inline-block;
	height: 60px;
	width: 75%;
	z-index: 10;
	position: relative;
}

.nav-container-small {
	margin-top: 30px;
	display: inline-block;
	height: 60px;
	width: 95%;
	z-index: 10;
	position: relative;	
}

.logo-container {
	float: left;
	height: 60px;
	width: 60px;
}

.logo-container-small {
	float: left;
	height: 40px;
	width: 40px;
}

.logo {
	height: 100%;
	object-fit: contain;
	color: white;
	border-radius: 10px;
}

.brand-container {
	float: left;
	display: inline-block;
}

.brand-container p {
	color: white;
	font-family: Montserrat;
	margin: 2px;
	text-align: left;
}  

.brand-text-container {
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 5px;
}

.nav {
	float: right;
}

.nav-button {
	display: inline-block;
	line-height: 60px;
	margin-left: 10px;
	font-family: Montserrat;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.nav-button a:link {
	text-decoration: none;
	color: white;
}

.nav-button a:visited {
	text-decoration: none;
	color: white;
}

.nav-button a:hover {
	color: #fed84e;
}

#skill-button:active ~ .nav-button {
	transform: translateY(50%);
}


.banner-title-container {
	margin-top: 50px;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
	color: white;
}

.banner-more-button {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
	font-family: Montserrat;
	font-size: 25px;
	color: white;
	cursor: pointer;
}

.banner-more-button-small {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.main-skills-container {
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 20px;
}

.main-skills-container a:link {
	text-decoration: none;
	color: #266590;
}

.main-skills-container a:visited {
	text-decoration: none;
	color: #266590;
}

.main-skills-container a:hover {
	color: #fed84e;
}

.skills-container {
	display: inline-block;
	width: 90%;
}

.skill-container {
	display:inline-block;
	width: 350px;
	height: 300px;
	margin-top: 30px;
	vertical-align: top
}

.skill-container-small {
	display:inline-block;
	width: 100%;
	height: 300px;
	margin-top: 30px;
	vertical-align: top
}

.skill-logo-container {
	height: 120px;
}

.skill-logo {
	height: 100%;
	object-fit: contain
}

.skill-text-container {
	min-height: 200px;
	margin-top: -10px;
}



.skill-title {
	height: 50px;
	margin: 0px;
	padding-top: 15px;
}

.work-container {
	width: 100%;
	background-color: #eee;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 100px;
}

.work-header {
	height: 90px;
	padding-top: 10px;
	margin-bottom: 60px;
	font-size: 23px;
}

.work-entry {
	min-width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.work-entry-small {
	min-width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}


.work-text-container {
	float: left;
	display: inline-block;
	max-width: 400px;
	padding-left: 50px;
}

.work-text-container-small {
	float: center;
	display: inline-block;
	width: 90%;
}

.work-text-container-right {
	display: inline-block;
	max-width: 400px;
}

.work-text-container-small ul {
	text-align: left;
}

.work-text-container-right-small {
	display: inline-block;
	width: 90%;
	float: center;
}

.work-text-container-right-small ul {
	text-align: left;
}

.work-text-title {
	font-weight: bold;
	font-size: 35px	
}

.work-text-position {
	font-style: italic;
	color: #266590;
	font-size: 15px;
	margin: 3px;
}

.work-text-bullets {
	font-size: 14px;
	padding: 20px;
	padding-top: 5px;
	line-height: 20px
}

.work-text-bullets li {
	padding-top: 10px
}

.work-image-container {
	display: inline-block;
	float: right;
	margin-bottom: 20px; 
	padding-right: 50px;
}

.work-image-container-small {
	display: inline-block;
	text-align: center;
}

.work-highlight {
	max-width: 400px;
	text-align: center;
	font-size: 22px;
	color: #266590;
}

.work-highlight-small {
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: #266590;
	margin-top: 20px;
	margin-bottom: 20px
}

.work-image-container-left {
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

.work-image-container-left-small {
	display: inline-block;
	text-align: center;
}

.work-separator {
	width: 50%;
	display: inline-block;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-color: #266590;
	margin: 70px;
}

.work-image-action {
	position: absolute;
	margin-left: 110px;
}

.work-image-action-small {
	position: absolute;
	margin-left: -65px;
}

.atdaa-phone {
	height: 400px;
	width: 300px;
	display: inline-block;
	background-image: url('https://github.com/macnube/founders-coders/blob/master/public/images/AtdaaMap.png?raw=true');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding-right: 50px;
	cursor: pointer;
}

.atdaa-image {
	position: absolute;
	width: 172px;
	margin-left: 90px;
	margin-top: 46px;
	z-index: 5;
}

.atdaa-phone-small {
	height: 400px;
	width: 300px;
	display: inline-block;
	background-image: url('https://github.com/macnube/founders-coders/blob/master/public/images/AtdaaMap.png?raw=true');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

.atdaa-image-small {
	position: absolute;
	width: 172px;
	margin-left: -85px;
	margin-top: 46px;
	z-index: 5;
}

.chromebook-image {
	width: 400px;
	margin-right: 120px;
	object-fit: contain;
}

.chromebook-image-small {
	height: 300px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.chromebook-image-extra-small {
	width: 350px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.labview-image {
	height: 230px;
	margin-right: 50px;
	object-fit: contain;
}

.labview-image-small {
	height: 230px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.labview-image-extra-small {
	width: 350px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.metaswitch-image {
	height: 300px;
	display: inline-block;
	margin: 20px;
	object-fit: contain;
}

.metaswitch-image-small {
	height: 300px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.metaswitch-image-extra-small {
	width: 350px;
	object-fit: contain;
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-container {
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 20px;
}

.about {
	display: inline-block;
	width: 75%;
	text-align: left;
}

.about-image {
	height: 300px;
	border-style: solid;
	border-color: #266590;
	border-width: 4px;
	float: left;
}

.about-image-container-small {
	text-align: center
}

.about-image-small {
	height: 300px;
	border-style: solid;
	border-color: #266590;
	border-width: 4px;
	display: inline-block;
}

.about-text-container {
	display: inline-block;
	max-width: 800px;
	min-width: 300px;
	padding-left: 30px;
}

.about-text-container-small {
	display: inline-block;
	width: 100%;
	padding: 10px;
}