body {
	width: 100vw;
	margin: 0px;
}

.banner-container {
	width: 100%;
	height: 100vh;
	background-color: #266590;
	background-image: url('https://github.com/macnube/founders-coders/blob/master/public/images/BannerWide.png?raw=true');
	text-align: center;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.banner-image {
	position: relative;
}

.nav-container {
	margin-top: 30px;
	display: inline-block;
	height: 60px;
	width: 75%;
	z-index: 10;
	position: relative;
}

.logo-container {
	float: left;
	height: 60px;
	width: 60px;
}

.logo {
	height: 100%;
	object-fit: contain;
	color: white;
	border-radius: 10px;
}

.brand-container {
	float: left;
	width: 400px;
	display: inline-block;
}

.brand-container p {
	color: white;
	font-family: Montserrat;
	margin: 2px;
	text-align: left;
}  

.brand-text-container {
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 5px;
}

.nav {
	float: right;
}

.nav-button {
	display: inline-block;
	line-height: 60px;
	margin-left: 10px;
	font-family: Montserrat;
	color: white;
}

.banner-title-container {
	margin-top: 50px;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
	color: white;
}

.banner-more-button {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: Montserrat;
	font-size: 25px;
	color: white;
}

.main-skills-container {
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 20px;
}

.skills-container {
	display: inline-block;
	width: 90%;
}

.skill-container {
	display:inline-block;
	width: 350px;
	height: 300px;
	margin-top: 30px;
	vertical-align: top
}

.skill-logo-container {
	height: 120px;
}

.skill-logo {
	height: 100%;
	object-fit: contain
}

.skill-text-container {
	min-height: 200px;
	margin-top: -10px;
}

.skill-title {
	height: 50px;
	margin: 0px;
	padding-top: 15px;
}

.work-container {
	width: 100%;
	background-color: #eee;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 100px;
}

.work-header {
	height: 90px;
	padding-top: 10px;
	margin-bottom: 60px;
	font-size: 23px;
}

.work-entry {
	width: 70%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}


.work-text-container {
	float: left;
	display: inline-block;
	width: 400px;
	padding-left: 50px;
}

.work-text-container-right {
	display: inline-block;
	width: 400px;
	padding-left: 120px;
}

.work-text-title {
	font-weight: bold;
	font-size: 35px	
}

.work-text-position {
	font-style: italic;
	color: #266590;
	font-size: 15px;
	margin: 3px;
}

.work-text-bullets {
	font-size: 14px;
	padding: 20px;
	padding-top: 5px;
	line-height: 20px
}

.work-text-bullets li {
	padding-top: 10px
}

.work-image-container {
	display: inline-block;
	float: right;
	margin-bottom: 20px; 
	padding-right: 50px;
}

.work-highlight {
	width: 100%;
	text-align: center;
	font-size: 22px;
	color: #266590;
}

.work-image-container-left {
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

.work-separator {
	width: 50%;
	display: inline-block;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-color: #266590;
	margin: 70px;
}

.atdaa-image {
	height: 400px;
	object-fit: contain;
	padding-right: 50px;
}

.chromebook-image {
	height: 300px;
	object-fit: contain;
}

.labview-image {
	height: 200px;
	margin-right: 50px;
	object-fit: contain;
}

.metaswitch-image {
	height: 300px;
	display: inline-block;
	margin: 20px;
	object-fit: contain;
}

.about-container {
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: Montserrat;
	padding-bottom: 20px;
}

.about {
	display: inline-block;
	width: 60%
}

.about-image {
	height: 300px;
	border-radius: 10px;
	border-style: solid;
	border-color: #266590;
	border-width: 4px;
	float: left;
}